[2011-09-21 19:37] kwloafman opened #2 "Unexpected keyword 'no_ack' when running with Kombu basic_get"
When running in kombu.compat mode with librabbitmq as the transport, fetch fails with unexpected keyword 'no_ack'.  The patch at git://gist.github.com/1233068.git fixes pylibrabbitmq to expect 'no_ack' instead of 'noack' and makes the calling sequence consistent with the rest of the code.

[2012-05-21 17:00] #2 closed, assigned to nobody

[2012-05-23 19:19] user996015 opened #3 "Fix "Defining and executing tasks" Example"
This

[code]

Should be

[code]

http://ask.github.com/celery/django/first-steps-with-django.html#defining-and-executing-tasks

[2012-05-24 11:58] #3 closed, assigned to nobody

[2012-05-28 12:08] gugu opened #4 "librabbitmq build fails on Debian 6.0.3"
Installation of kombu fails with this message:

<pre>
[...] out:   Running setup.py install for librabbitmq
[...] out:     /usr/bin/make  all-am
[...] out:     make[1]: Entering directory `/home/eksmo/virtualenv/eksmo/build/librabbitmq/rabbitmq-c/librabbitmq'
[...] out:     make[1]: Nothing to be done for `all-am'.
[...] out:     make[1]: Leaving directory `/home/eksmo/virtualenv/eksmo/build/libra

[2012-06-18 18:09] datfinesoul opened #5 "_librabbitmq.so problem on OS X Lion with versions greater than 0.9.2"
When I try to install a version of librabbitmq greater than 0.9.2 on my Mac (OS X 10.7.4) using PIP, the library installs fine, but when I try to import it in a python program or the interpreter, I get the following error.

program:

Traceback (most recent call last):
  File "test.py", line 4, in <module>
    import rabbit
  File "/Users/phadviger/code/librabbitmq/rabbit.py", line 2, in <module>

[2012-06-23 18:27] #5 closed, assigned to nobody

[2012-07-10 17:09] #4 closed, assigned to nobody

[2012-07-24 10:42] fredrik opened #6 "librabbitmq build fails on OS X Lion"
Installation of librabbitmq fails with the message below. This happens when installing using pip (`pip install librabbitmq==0.9.9`) and when using the development version (ref f29317eb4d).

[code]

([Full log](https://gist.github.com/3169324#file_gistfile1.txt))

I propose adding `(cd clib; test -f clib/config.h || ./configure)` to [the Makefile's dist target](https://raw.github.com/gist/3169324/b

[2012-08-11 22:19] dgouldin opened #7 "Connection error message is misleading"
When providing bad auth to librabbitmq.Connection, the ConnectionError raised contains the message "Couldn't log in: Argument list too long" which is misleading. See shell output:

https://gist.github.com/3327545

[2012-08-17 14:19] #7 closed, assigned to nobody

[2012-09-14 17:53] dtran320 opened #8 "Accept a Connection socket_timeout"
pylibrabbitmq does not appear to accept a socket_timeout like amqplib and other transports do, resulting in the following unexpected `ConnectionError`.

With librabbitmq:
-----------------
librabbitmq/__init__.pyc in __init__(self, host, userid, password, virtual_host, port, channel_max, frame_max, heartbeat, lazy, **kwargs)
    166         self._avail_channel_ids = array('H', xrange(self.channel_

[2012-09-18 13:29] fladi opened #9 "Including librabbitmq-c necessary?"
No really an issue, but is there any rationale on why librabbitmq-c is included in the source?
Why not make the installation of the c-library a dependency? The current situation requires quite a lot of changes to your build process if someone (me) wants to shape this into a Debian package.

[2012-10-11 20:15] anthonyrisinger opened #10 "`PyDict_ToAMQTable` does not support nested tables"
`PyDict_ToAMQTable` (`Modules/_librabbitmq/connection.c`) only processes Int, Long, String, Unicode, but AFAICT (confirmed) AMQP also supports nested tables ... which is useful :-)

for the record, `pyamqp` transport in Kombu seems to be capable of marshaling the nested structures ... my C is still pretty green but it seems like you could just call `PyDict_ToAMQTable` recursively?

[2012-10-12 07:14] #10 closed, assigned to nobody

[2012-10-22 05:23] dfujiwara opened #12 ""ConnectionError: Couldn't log in: Unknown error 536871016""
Since we upgraded our celery to version 3 and started using librabbitmq, we started to see this particular error quite frequently:

"ConnectionError: Couldn't log in: Unknown error 536871016"

I looked through the librabbitmq c code, but it seems like this is the server error. Given that, not sure if this is the right place to ask about this issue, but I was wondering if anyone out there has exper

[2012-12-13 17:21] thijstriemstra opened #13 "Support for Python 3"
It would be nice to support Python 3 at some point. Getting this error at the moment when running `python3.3 setup.py build`:

[code]

[2012-12-27 04:23] simon-liu opened #15 "memory leak?"
The piece of code(I means consumer) below eat 30M memory when consumer started, after 10 minutes, the memory usage is 970M.

can someone help me? thanks

[code]

[code]

[2012-12-31 23:17] mayfield opened #16 "queue_unbind signature does not match py-amqp"
I'm trying to use the kombu Queue.unbind_from method which calls either py-amqp or librabbitmq's Channel.queue_unbind method.  In the case of librabbitmq I get a TypeError because the expected signature does not match the calling form or that of py-amqp;  Namely librabbitmq is expecting the kwarg 'binding_key' instead of 'routing_key'.

Here is py-ampq:

   def queue_unbind(self, queue, exchange,

[2013-01-03 17:25] toddrjen opened #17 "snprintf now part of ansi-c"
Modules/_librabbitmq/connection.c makes use of snprintf.  However, librabbitmq is built with the -ansi flag.  The -ansi version of c does not have snprintf.  It may still build using some compilers if you enable implicit declarations.  Post-build checks for implicit declarations reject it.

Either using something other than snprintf or building with something other than -ansi will fix this problem

[2013-01-08 10:28] simon-liu opened #18 "some times, channel.queue_bind() takes 3 seconds"
Here is the code:

[code]

the log prints:
2013-01-08 18:18:00,229 INFO Connection(): 0.00176000595093, conn.channel(): 0.000516176223755, channel.exchange_declare(): 0.000393867492676, channel.queue_declare(): 0.000674962997437, channel.queue_bind() 3.14228796959

[2013-01-14 13:18] #17 closed, assigned to nobody

[2013-01-14 14:16] #15 closed, assigned to nobody

[2013-01-23 21:43] saltycrane opened #21 "easy_install librabbitmq fails on Ubuntu 12.04"
Using pip to install librabbitmq succeeds, but using easy_install or "python setup.py install", fails. My OS is Ubuntu 12.04. I had similar results on Scientific Linux 6.
## pip succeeds

[code]
## python setup.py install fails

[code]
## easy_install fails

[code]

[2013-01-30 14:17] 23doors opened #22 "librabbitmq fails to install"
ubuntu 12.04.1

Same results with easy install and pip. From source also fails. No meaningful info anywhere.

E.g. with pip and easy install:

[code]

Looks fine. Except there was no compilation done. Python: import librabbitmq:
ImportError: No module named librabbitmq

Could it have anything to do with me using rabbitmq 3.0.1 (latest stable)?

[2013-02-11 22:00] mayfield opened #23 "librabbitmq use of select() breaks support for large fds"
Hello,

I've run into an issue when using rabbitmq in a service that has large numbers of file descriptors;  Specifically our servers use async IO loops to handle many thousands of concurrent sockets.  If in our life cycle we attempt to use librabbitmq (which we do a lot) we can easily crash our python interpreter because of unbound calls to select's FD_SET macro in RabbitMQ_wait_timeout().  Here

[2013-02-19 20:36] mayfield opened #25 "Channel does not support events"
The kombu Producer code expects the librabbitmq.Channel class to have an events attribute used to listen for events such as NO_ROUTE (on_return) when a message is sent with immediate=True.  The amqp module implements this correctly but librabbitmq does not have an events dict and thus produces the following exception with kombu.Producer(on_return=lambda *foo).  As I understand it the APIs should b

[2013-03-19 16:06] #23 closed, assigned to nobody

[2013-03-26 22:28] tink044 opened #26 "Windows install fails"
Fresh install of Windows 7, python2.6.4, gnuwin32 and git.  All working i.e. %path% is correct.

pip install librabbitmq & easy_install librabbitmq result in the same thing.  As does getting the latest via git (librabbitmq-master)..

I normally get "no module named librabbitmq" but if i install from git I get "no module named _librabbitmq".  Basically the only files that get copied into my site-pa

[2013-05-09 13:31] leth opened #27 "Memory Leaks from 'Maybe_Unicode'"
I've been looking into a memory leak by running [a static analysis tool](https://gcc-python-plugin.readthedocs.org/)  over the librabbitmq module. It looks like the way `Maybe_Unicode` is being used may leak object references.

[code]

I see it called often after a call to `PyArg_ParseTuple`

The docs for `PyArg_ParseTuple` say:

The docs for `PyUnicode_AsASCIIString` say:

If `Maybe_Unicode` is i

[2013-06-05 00:38] LAlbertalli opened #28 "KeyError('properties',) in Channel.basic_get"
Using celery I found out in the log file several error like this one:

[code]

This error appears only randomly and disappear using py-amqp thus I think the problem is with librabbitmq.
Modifying the li near the 67  librabbitmq/**init**.py in this way:

[code]

I get this error log:

[code]

Checking the queue with rabbitmqctl list_queues shows that the queue still contain a message but trying to

[2013-07-18 06:49] linbo opened #30 "Consumer occur Bad frame read"
I use librabbitmq for consumer data from rabbitmq, but got Bad frame read exception

[code]

Python: 2.6
RabbitMQ: 3.1.3, Erlang R14B04
librabbitmq==1.0.1

[2013-08-12 20:16] nhooey opened #31 "Make error messages more clear"
Currently `librabbitmq` prints error messages like this:

[code]

Which are compound error messages created by bit-masking. This makes them impossible to search for in a search engine.

It would be much more clear if the error messages were printed as a string, or if the library at least provided a way to decode these messages.

[2013-08-12 20:23] #31 closed, assigned to nobody

[2013-10-18 07:49] ygzgxyz opened #32 "Installing as install_requires via setup.py fails."
Environment: OS X 10.8.5, Python 2.7.2

installing directly via pip command works well as expected, but installing via `setup.py develop` as specifying `librabbitmq` as `install_requires` causes an error. the last part of error is:

[code]

i've tried specifying _librabbitmq_ in _setup_requires_, but it generated same result. how can i fix this situation? i want to get rid of calling `pip install

[2013-12-12 16:18] rogerhu opened #33 "Bump version to 1.0.3?"
I noticed on that ChangeLog that the files don't seem to match on PyPi https://pypi.python.org/packages/source/l/librabbitmq/librabbitmq-1.0.3.tar.gz)

[code]

[2013-12-18 15:43] #33 closed, assigned to nobody

[2013-12-19 21:13] jve opened #38 "Memory leak when publishing with same channel, librabbitmq 1.0.3"
Hi,

I ran into an issue when I use channels again and again to publish. I know a similar issue was fixed in 1.0.1 but I am still seeing a memory leak even with that version.

I attached some code to reproduce the problem:

[code]

Running the xrange loop a couple of times should show you the memory increasing.

I had a bit of a dig inside the bindings and googling for potential memory leaks insid

[2013-12-31 14:56] eandersson opened #39 "fileno not raising exception after connection.close is called"
Unlike with for example py-amqp after calling connection.close() and then accessing the value of connection.fileno() it does not throw an AttributeError.

Is this intended?

e.g.

[code]

I don't have much experience with sockets on C library, but does this mean that the socket is still opened, or is the fileno value cached?

[2014-04-14 18:11] #38 closed, assigned to nobody

[2014-04-15 11:55] eandersson opened #40 "error return without exception set in 1.5"
Hey,

I ran my test suit on the new library, and I am getting SystemError exception when for example providing an invalid DNS entry or a bad ip/port.

[code]

These are the tests that are failing with invalid exceptions

[code]

I have my own API wrapped around librabbitmq, but I am making very simple calls.

[code]

[2014-04-15 17:42] ijl opened #41 "Confusing branches"
It's rather confusing that master is 1.0.1, there is another 1.0 branch, and the current version is branch 1.5. I think documentation is necessary on the master readme, at least. For context, I came here to find the changelog while considering an upgrade.

[2014-04-18 05:28] bialecki opened #42 "Installing via pip, undefined symbol: clock_gettime"
Installs cleanly. When I `import librabbitmq`, I get the following:

[code]

Listing linked shared objects doesn't contain `librt.so`:

[code]

Apologies if missing something obvious.

[2014-04-22 06:42] #40 closed, assigned to nobody

[2014-04-22 06:43] #39 closed, assigned to nobody

[2014-05-06 14:38] #42 closed, assigned to nobody

[2014-05-28 14:42] #41 closed, assigned to nobody

[2014-05-28 16:23] #30 closed, assigned to nobody

[2014-05-28 16:33] #32 closed, assigned to nobody

[2014-06-23 21:09] rhettg opened #48 "Bad Frame Read"
Just upgraded to librabbitmq 1.5.2 and celery 3.1.12

I'm getting a failure during one of my tasks that involves a large chord.

<pre>
Stacktrace (most recent call last):

  File "celery/app/trace.py", line 240, in trace_task
    R = retval = fun(*args, **kwargs)
  File "newrelic/hooks/application_celery.py", line 66, in wrapper
    return wrapped(*args, **kwargs)
  File "celery/app/trace.py", lin

[2014-07-21 08:02] ek-nath opened #52 "Enormous time taken in channel closing"
https://gist.github.com/5ee3b7a980784089b4ff.git

I am publishing 200,000 of size 32 bytes.

I was originally getting a time of ~1.4 seconds for `connection._basic_publish()` to finish but `channel.close()` was taking a bit of time. So I set `mandatory=False`, yet the time difference is significant. Can someone please explain this time diff.

`mandatory = True` takes `1.41` sec to finish `connecti

[2014-07-31 17:52] abslodov opened #53 "Segfault SIGSEGV on running Celery worker and/or Flower"
While running a celery worker from the command line:

python manage.py celery worker -E --loglevel=DEBUG --purge --logfile=celery1.log -n celery1 -Ofair --autoscale=10,12

(also happens when running flower:
python manage.py celery flower)

Actual segfault error, obtained using gdb:

Program received signal SIGSEGV, Segmentation fault.
0x00007fffebb926ab in amqp_pool_alloc () from /usr/lib/x86_64-l

[2014-08-01 15:47] #53 closed, assigned to nobody

[2014-08-08 12:52] zstyblik opened #54 ""Bad frame read" when message with empty body received"
I've tested this with the latest version of https://github.com/celery/librabbitmq from pip and https://github.com/alanxz/rabbitmq-c and it seems to be current.

How to replicate:
- create consumer and bind to any type of exchange(I've noticed it with headers, but it happends with any type of exchange)
- send one or more message with an empty body
- traceback should appear

This does happen only wh

[2014-08-09 13:36] fladi opened #55 "rabbitmq-codegen/amqp_codegen.pyc in pypi tarball"
The tarball on PyPi includes a byte code file in rabbitmq-codegen/amqp_codegen.pyc. This was most likely included by mistake. Could you remove it with the next release?

[2014-08-09 16:58] liv42da opened #56 "setup causes: "warning: no files found matching '*' under directory 'tests'""
Other warnings/errors include:
  no previously-included directories found matching '_.pyc' {:level=>:error}
  no previously-included directories found matching '_.o' {:level=>:error}
  no previously-included directories found matching '_.la' {:level=>:error}
  no previously-included directories found matching '_.so' {:level=>:error}
  no previously-included directories found matching '*.dylib' {:l

[2014-08-11 05:29] brianmay opened #57 "uses private amqp_get_or_create_channel_pool symbol from librabbitmq"
Hello,

To me it looks like you use the amqp_get_or_create_channel_pool symbol, however that symbol is private to rabbitmq-c (it is defined in amqp_private.h), and it is not exported.

This basically means this package cannot be used with an already installed version of rabbitmq-c.

Thanks

[2014-08-11 14:35] #55 closed, assigned to nobody

[2014-08-14 05:10] dcousineau opened #58 "Fails to build on OS X 10.10"
Cannot build on OS X 10.10 (public preview 1). See alanxz/rabbitmq-c#206 for relevant issue.

[code]

I updated the git submodule for rabbitmq-c to use the parent alanxz/rabbitmq-c instead of the ask/rabbitmq-c and merged after a git pull just to be absolutely sure and it still failed.

[2014-10-24 11:42] #58 closed, assigned to nobody

[2014-11-11 10:26] bra-fsn opened #60 "No transactions support?"
Hi,

Maybe I've just overlooked something, but I can't find transactions support (tx_select, tx_commit, tx_rollback) in librabbitmq, however the underlying C library seems to support these.

Could you please implement it?

Thanks,

[2014-12-13 20:45] serj-p opened #61 "Buildout fails for 1.6.1"
I'm trying to install librabbitmq==1.6.1 using egg recipe of bootstrap buildout.
It's installing it using this command:

[code]

And fails this way:

[code]

It seems like configure hasn't been run.
The same ocurrs if I run

[code]

But if I run

[code]

It installs properly.

[2015-01-09 15:13] amg84 opened #64 "invalid (python 3) syntax in setup.py"
line 191 reads:
except Exception, exc:

and should read:
except Exception as exc:

[2015-01-19 18:04] adampl commented on #64
This is because Python 3 is not supported: #13

[2015-01-26 16:12] mkillianey commented on #61
I'm also experiencing this problem.  Is there a plan to take rmihael's pull request or to solve it a different way?

[2015-02-03 15:25] juliendangers commented on #48
:+1: could you please release 1.6.2 ?

[2015-02-05 00:38] willtrking commented on #32
I'm currently having a similar issue (although the error is different)

Environment: Ubuntu 14.04 LTS, Python 2.7.3

Error output
[code]

setuptools is running
[code]

Would seem like if the "bdist_egg" forced a build in the setup.py file this would go away?

[2015-02-17 15:11] grahamc commented on #13
Oh what the heck, +1

[2015-02-18 19:33] dwieeb commented on #13
+1

[2015-02-23 12:14] zloy531 commented on #13
+1

[2015-02-23 16:54] gavinmh commented on #13
+1 for Python3

[2015-03-11 08:28] r-darwish commented on #13
+1

[2015-03-13 14:53] BodhiSukha opened #65 "Error opening socket: a socket error occurred <class '_librabbitmq.ConnectionError'>"
I'm experiencing a socket error and traceback points to librabbitmq. Any ideas will be greatly appreciated.

[code]

Installed the librabbitmq via pip. Version I'm using is 1.6.1

I can confirm that RabbitMQ is running, celery is running, erlang is running. Celery, RabbitMq looks like connected, no connection errors in logs. However when I call some_task.delay() in a django view I get the error ab

[2015-03-13 19:55] mark-adams commented on #13
+1

[2015-03-16 06:44] BodhiSukha commented on #65
Closing as it was related my server setup. Some previous installations and their variables were messing with it. (Clean up and new installation fixed)

[2015-03-16 06:44] #65 closed

[2015-03-19 01:51] mstajdohar commented on #13
+1

[2015-03-21 08:04] myroid commented on #13
+1

[2015-03-23 09:14] arthurk commented on #48
@ask could you release a new version with the fix for this?

[2015-03-25 21:36] dgelvin commented on #13
Made a first attempt at this [here](https://github.com/celery/librabbitmq/pull/66).

[2015-04-10 19:29] dashesy commented on #61
same problem with `pip install librabbitmq`, it seems to be the recommended library for celery (in the docs) but is it production ready?

[2015-04-10 19:40] rmihael commented on #61
@dashesy We're using it in production very successfully with the small patch that I proposed long time ago: https://github.com/celery/librabbitmq/pull/62. I'm hoping that this pull request will be accepted to upstream, but no progress so far.

[2015-04-21 07:37] iyn commented on #13
+1

[2015-05-10 13:26] aidanlister commented on #13
+1

[2015-05-12 13:18] underyx commented on #13
+1

[2015-05-12 23:02] vitaly-krugl opened #67 "Is it a dual license?"
Hi @ask, I would like to use this package, but the license situation is a bit confusing:

The repo contains two licenses:
1. LICENSE-GPL-2.0
2. LICENSE-MPL-RabbitMQ

However, both README.rst and PyPi https://pypi.python.org/pypi/librabbitmq#license both make it seem like it's a single MPL license:

Could you possibly clarify the licensing terms as soon as possible? The MPL license is not compatibl

[2015-05-13 00:05] ask commented on #67
Hey Vitaly

The license was the same as for rabbitmq-c, which ummm, seems to be MIT licensed now.

Since the distribution includes rabbitmq-c I chose the same dual licensing to be compatible, but if you can help me verify that they have changed to MIT we can change also.

[2015-05-20 20:12] rhyolight commented on #67
@ask I've found the commits in rabbitmq-c that evidences the license change from GPLv2.0 to MIT on April 12, 2012:

- [Drop COPYING and old LICENSES](https://github.com/alanxz/rabbitmq-c/commit/a10cb49fe217bbbb825931403edeb74e4694624c)
- [Add MIT license and update debian scripts to use it](https://github.com/alanxz/rabbitmq-c/commit/17ecc432196dad65009749e4456ed29febd61f63#diff-7f0bdbc0a054583125

[2015-05-20 20:19] vitaly-krugl commented on #67
Thanks @rhyolight!

[2015-06-10 14:46] btoueg commented on #13
+1

[2015-06-15 05:16] mastak commented on #13
+1

[2015-06-18 22:46] ajutras commented on #13
+1

[2015-06-24 13:54] anthraxx commented on #13
+1

[2015-07-01 19:50] agriffis commented on #22
This appears to be the same as #61

[2015-07-01 20:35] agriffis opened #68 "pip install librabbitmq fails because of removing -Wall"
Here's the pip install log. This is on Fedora 21 with gcc 4.9.2

[code]

Here is what we see in `config.log`

[code]

I found that this can be avoided by dropping the line in `setup.py` that removes `-Wall` from the command-line.

[2015-07-24 09:53] arthurk commented on #13
+1

[2015-07-24 10:04] malinoff commented on #13
I think it is enough of "+1"s. I'm going to lock this issue not because we won't add python 3 support, but to avoid messing up our mailboxes.

If anybody of "+1"ers have some time, please spend it on creating pull requests for python 3 support. Thank you.

[2015-07-28 06:12] amitsaha opened #71 "pip install fails on Fedora"
Hello,

Attempting to install on F22 results in:

[code]

Any idea how I can fix this please?

[2015-08-25 22:19] agriffis commented on #71
See #68 and the comment in #69 ... the latter might be a pointer in the right direction on Fedora.

[2015-09-01 00:43] mverrilli opened #72 "_librabbitmq.ConnectionError: Couldn't create channel: server connection error 505, message: UNEXPECTED_FRAME - expected content body, got non content body frame instead"
I compiled 1.6.1 on Solaris using a gcc 4.8.3 toolchain.  I'm running RabbitMQ 3.5.4 on Erlang 18.0. I get the error above even trying to execute the simple `disabled_basic_get_leak.py` test.  I first discovered the problem when trying to run Celery 3.1.18 for the first time since compiling it and had a hanging beat process.  It works fine with `py-ampq`. Below is the traceback on the test and the

[2015-09-04 03:18] mverrilli commented on #72
Quite a few tests fail when running the test script.  The interesting thing is that when I use a 32-bit toolchain, my tests actually do work even though the setup tests fail in the exact same was as this one.

[code]

[2015-09-04 03:38] mverrilli commented on #72
Also, I have run many of the examples in the clib examples folder all with success.  (producer/consumer, listen/send, etc).

[2015-09-04 06:37] mverrilli commented on #72
I've traced down the packets to:
Working (32-bit compile): `02:00:01:00:00:00:12:00:3c:00:00:00:00:00:00:00:00:00:03:20:00:00:00:00:00:ce`
Not working (64-bit compile): `02:00:01:00:00:00:12:00:3c:00:00:00:00:00:03:00:00:00:00:20:00:00:00:00:00:ce`

Breaking it down, you see the body size field of the content header packet looks like an endian issue:
`00:00:00:00:00:00:00:03` vs `00:00:00:03:00:00

[2015-09-04 08:52] mverrilli commented on #72
Figured it out I think.  body_size was defined as a pointer and so changes depending on your environment. Should be a int32_t.  I submitted a pull request.  Let me know if I got it wrong.

[2015-09-04 14:11] mverrilli commented on #72
Ok I see the real issue now. Two things.

#1. PY_SSIZE_T_CLEAN needs to be defined before including Python.h.
#2. PY_SIZE_TYPE should be used for body_size.

I'll scan for more areas like this if I can find them.

[2015-09-04 15:13] mverrilli commented on #72
Please see pull request #74 to address this issue.

[2015-09-28 03:17] czpython opened #77 "Old version of rabbitmq-c"
Hello,
I've noticed the git submodule references a fork which has not been updated with latest code from rabbitmq-c, is this intentional? meaning is this library not compatible with the last code in rabbitmq-c?

[2015-09-30 04:01] pbecotte opened #78 "calling message.decode() in a comprehension throws a DecodeError exception"
Had a weird issue today.  I have a method that empties a rabbitmq Queue and processes all the messages (for batch processing).  I installed librabbitmq and the method started failing.

Exception:

 File "/usr/lib/python2.7/contextlib.py", line 35, in **exit**
   self.gen.throw(type, value, traceback)
 File "/usr/local/lib/python2.7/dist-packages/kombu/serialization.py", line 59, in _reraise_errors

[2015-10-13 22:43] rosarior commented on #32
Same issue on clean install of Fedora 22 Desktop 64 bit, Python 2.7.10.

[2015-10-13 22:48] rosarior commented on #32
Manual build command returns:

[2015-10-17 13:00] LordNoteworthy commented on #48
I have the last version and still getting this Bad Frame Read issue, anyone fixed it ?

[2015-10-18 00:47] derek-virtustream commented on #48
1.6.1 hasn't got this fix IIRC. It's in master and the 1.6 branch though, so checking out either should get around the problem.

[2015-10-30 19:09] #68 closed

[2015-11-13 20:03] mverrilli commented on #77
@ask Is there any interest in updating this? I could take a stab at it.

[2015-11-13 20:08] mverrilli commented on #72
Pull request was committed. Closing issue.

[2015-11-13 20:08] #72 closed

[2015-12-09 14:11] Zartul opened #79 "Wrong sending timestamp"
I try to send timestamp value with message but it is rounded to 255. If i sent 256 I'll receive 0, 257 - 1, 258 - 2 etc.
in librabbitmq/Modules/_librabbitmq/connection.c
I see setting timestamp as long:

[code]

and getting it with casting to uint8_t type:

[code]

I suppose this casting to uint8_t is a reason of my issue. Is it right behavior for timestamp property in message?

[2015-12-14 09:00] thibaultlavoisey commented on #48
Hello,

Any news about 1.6.2?

[2016-01-01 21:19] agriffis commented on #9
@fladi @ask Did you ever look further into this? I was looking at #71 which also affects me, and I'm wondering if it all gets better by depending on the Fedora-provided librabbitmq-devel (version 0.7.1 presently). I've started looking at `setup.py` but getting lost in `create_builder()` so far.

[2016-01-01 21:42] agriffis commented on #9
Looks like @fladi patched the Debian package to build with the distro lib: http://packages.ubuntu.com/vivid/python-librabbitmq and especially `debian/patches/fix_setup.patch` in http://archive.ubuntu.com/ubuntu/pool/universe/p/python-librabbitmq/python-librabbitmq_1.5.2-1.debian.tar.xz which I'll include here for reading.

[code]

[2016-01-05 08:52] dhui commented on #77
+1 for updating the rabbitmq-c library
It looks like newer versions of rabbitmq-c support hearbeats: https://github.com/alanxz/rabbitmq-c/issues/259

[2016-01-12 05:27] amitsaha commented on #71
This is still failing to install on Fedora 23 with the same error as above.

[2016-01-12 05:37] amitsaha commented on #71
Okay, here is something more encouraging i guess:

- I downloaded the source from PyPi for 1.6.1
- extracted it
- cd clib; ./configure; make install
- cd ../
- python setup.py install

And it succeeds!

[2016-03-04 10:36] roshansingh opened #80 "How to gracefully shutdown a blocking connection?"
I am using a blocking connection which does file io, I want to be able to do some cleanup before killing the process. How to do this?

[2016-03-18 14:42] mrueg opened #81 "Any plans for librabbitmq-2.0.0 release?"
Hi,

I see the last version was released about 1 year ago. Therfore, I'd like to know if there are any plans to release another versions in the 1.6 branch?

Thanks!

[2016-03-31 12:35] mrueg commented on #81
@ask friendly ping? :)

[2016-04-01 19:39] cmpis commented on #81
Same question

[2016-04-01 19:52] cmpis commented on #81
@mrueg I figure the reason, after looking at the issues/PRs more, is that they want to work to get Py3 support (#13) but that is probably a lot of work in the C code to make it compatible with Python 3 and stay compatible with Python 2.

[2016-04-07 00:30] marshallpierce opened #82 "setup.py bdist_egg build fails because it doesn't build the c library first"
[code]
fails with

[code]

Note that this log doesn't show it building the c lib or doing codegen. However, if we instead run `python setup.py build` first, it builds the c library and does its codegen, and then a subsequent `bdist_egg` will work. I'm new to python's setuptools, but it seems like `bdist_egg` should take care of building everything like `build` does.

[2016-05-26 23:56] stephen144 commented on #71
Also successful following previous comment on Fedora 23.

[2016-05-27 14:57] yardensachs opened #83 "Setup.cfg installs the newest amqp which is still not released"
https://github.com/celery/librabbitmq/blob/master/setup.cfg:
"requires = amqp >= 1.4.6"
This installs 2.0.0rc#

Which in turn, makes celery useless:

[code]

[2016-05-27 17:15] zwayne commented on #83
2.0 has now been released and we're seeing same error. The requirements/default.txt references > amqp:1.4.6.

[2016-06-04 08:02] seasar commented on #48
I get "bad frame read" exception in 1.6.1.  maybe I should use other amqp lib instead of librabbitmq.

[2016-06-10 16:25] #16 closed

[2016-06-10 16:26] #25 closed

[2016-06-25 20:30] caulagi opened #84 "Benchmark against py-amqp"
The project description in this repo and celery docs recommend using librabbitmq.  I was wondering if there are benchmarks against py-amqp (https://github.com/celery/py-amqp).  I see a benchmark.py in the repo but that seems to compare amqplib and not py-amqp.

Will there be a difference in a project that is already using py-amqp to use librabbitmq?

[2016-06-28 09:53] caulagi commented on #84
Ping @ask.  Do you have any suggestions on where I should look?  Thanks!

[2016-06-29 06:32] fake-name commented on #77
I've been looking around in the source, and it's basically impossible to follow. Dynamically generated C output from python via print, huge multi-line string literals everywhere.

I almost think starting over with something like SWIG is a better option for supporting py3k/recent versions of AMQP.

[2016-06-30 00:15] mverrilli commented on #77
@fake-name That code generation is based on protocol specs and really doesn't require you to touch it. I think mostly this is about getting python wrappers around the rabbitmq-c api then updating kombu appropriately.

I really don't know what the effort is, though, to get the python wrapper working with python 3.x.

[2016-06-30 00:18] mverrilli commented on #80
I don't know for sure, and I don't know specifically which calls you are referring to but I typically will do small event loops using blocking with a timeout so I can look for conditions like exit and cleanup. You could also possibly use a signal to catch and cleanup. Just some ideas.

[2016-06-30 00:20] mverrilli commented on #84
Hi, where is the benchmark.py at? I use librabbitmq (on Solaris) and could test it there for you.

[2016-06-30 00:34] fake-name commented on #77
@mverrilli - I was wading through python code that emitted python-wrapping C code by printing to stdout the other night, but I can't find it in the repository.

In any event, the build process is extremely opaque at minimum.

I'll see if I can be specific about what I was seeing once I'm home later.

[2016-06-30 04:22] fake-name commented on #77
Ok, you're correct, and I have no idea what I was looking at.

I do have to still touch that code, because I'm trying (and failing) at a py3k port, and it uses the `print` construct everywhere, but that's at least somewhat pedestrian.

[2016-06-30 12:33] kharazi opened #85 "ImproperlyConfigured: Unknown result backend: 'librabbitmq'"
According to [document of celery](http://docs.celeryproject.org/en/latest/userguide/optimizing.html#librabbitmq-python-2-only), when i set `librabbitmq` before my broker of celery, i got this error:

`ImproperlyConfigured: Unknown result backend: 'librabbitmq'.  Did you spell that correctly? ('is a Python module, not a backend class.')
`
librabbitmq, was installed in virtualenv correctly:
[code]

[2016-06-30 18:47] caulagi commented on #84
@mverrilli - I am referring to https://github.com/celery/librabbitmq/blob/master/benchmark.py.  As you can see, it compares librabbitmq and amqplib.  I am wonder what the performance differences are between py-amqp and librabbitmq.

[2016-06-30 21:07] mverrilli commented on #84
Here you go.  The APIs are compatible so it's not hard to add pyamqp to the benchmark.

https://github.com/mverrilli/librabbitmq/blob/6cab55310f80fd57a893c5af94f88111fff97666/benchmark.py

I don't have a clean system to run the benchmark on though. When I can get one set up I'll be happy to run it.

[2016-06-30 21:25] mverrilli commented on #85
That doc refers to the broker, not the backend (notice your error). It's probably not advisable to use amqp as a backend and I doubt it has the librabbitmq-specific URL capability.  If that's what you are looking for, then consider using rpc:// instead.  I personally use memcached without any issues, and if you want to persist the backend results then you'd maybe consider redis or other.

Hope thi

[2016-06-30 21:52] mverrilli commented on #83
I just looked and I think this is fixed with https://github.com/celery/py-amqp/commit/171f9be3f753941b719bec0e913bd9651dc633f9 which was tagged in 2.0.1 py-amqp.

[2016-07-21 13:03] caulagi commented on #84
Ok, thanks.  I read the code a bit too quickly and was looking for `librabbit.benchmark` as a python module.  So I get these results -

[code]

I used rabbitmq available as a docker container -

[code]

So is my reading correct that **pyamqp is better**?

[2016-08-04 06:32] david-caro commented on #71
Yep, the current code that's on pypi it's from 2014 and does not include the patches @agriffis mentioned. When should we expect the next release on pypi? ;)

[2016-08-04 06:39] david-caro commented on #84
I'm not sure about the correctness of the benchmark (that's a science by itself) but for the results you posted, I'd say that for publishing small messages, amqplib is way *faster* than the others, with librabbit in a far second position. For consumers, librabbit is the fastest, but with pyamqp very close, and amqplib in a far third position.

So for those numbers it seems to me that pyamqp is alw

[2016-08-06 14:26] auvipy commented on #13
@ask @malinoff I am gonna tackle this issue to support python

[2016-08-06 14:33] auvipy commented on #85
@kharazi you are putting on the wrong hole. try to follow @mverrilli comment

[2016-08-06 14:33] #85 closed

[2016-08-06 14:39] auvipy commented on #82
I will take care of this.

[2016-08-06 14:43] auvipy commented on #83
closing as fixed as per @mverrilli

[2016-08-06 14:43] #83 closed

[2016-08-06 14:47] auvipy commented on #64
closing as dupl.

[2016-08-06 14:47] #64 closed

[2016-08-06 14:49] auvipy commented on #6
should have been fixed by now. or still issues with that? 1.6.1 works well?

[2016-08-06 14:50] auvipy commented on #8
@dtran320 new maintainer here, does the latest versions resolve this issue?

[2016-08-06 15:13] dtran320 commented on #8
@auvipy Congrats on the new gig! I haven't really been actively developing anything with this library recently, but I'm pretty sure the issue was resolved at some point in the project i was working on previously, so I'll go ahead and close this.

[2016-08-06 15:13] #8 closed

[2016-08-09 13:28] berkerpeksag commented on #13
I think the next step would be to improve the test suite. We especially need to test the Connection object and its methods return types.

[2016-08-10 17:53] jimmywan opened #86 "librabbitmq 1.6.1 installed with pip not working"
I can't seem to get librabbitmq working and would appreciate any pointers in the right direction. I've got a docker container with a working service relying upon celery and I updated it to install rabbitmq-c and librabbitmq (via pip), but it doesn't seem to be working. The library appears to build without problems and I've installed librabbitmq via pip, but when I try to import librabbitmq it does

[2016-08-10 17:58] auvipy commented on #86
ENV RABBITMQ_C_VERSION=0.8.0?

[2016-08-10 22:31] jimmywan commented on #86
I was just doing that as a convenience in my Dockerfile. AFAIK, it shouldn't affect anything.

[2016-08-18 09:48] amitsaha commented on #86
@jimmywan you may want to check if `gcc` and `make` is installed?

[2016-08-18 15:52] jimmywan commented on #86
@amitsaha The library appears to be building fine, hence the files in /usr/local/lib/librabbitmq.*.

Updated my original post a bit for clarity. rabbitmq-c appears to be building just fine, I just can't import librabbitmq.

[2016-08-30 00:36] amitsaha commented on #71
I recently built some `manylinux1` wheels (https://github.com/celery/librabbitmq/pull/87). These manylinux1 wheels are installable on Fedora without any issues. Please check my PR there and you can start using librabbitmq on Fedora without any issues. We just need to now start pushing manylinux1 wheels to PyPi.

[2016-08-30 20:13] jimmywan commented on #86
Anyone still using this python library?

[2016-09-03 23:34] amitsaha opened #88 "Publishing manylinux1 wheels to PyPi"
Now that PR #87 has been merged, can we start publishing `manylinux1` wheels to PyPi? This will follow other packages such as [gevent](https://pypi.python.org/pypi/gevent) - happy to help with this.

[2016-09-08 13:26] edmorley opened #89 "Support the 'Auth Failure' RabbitMQ protocol extension"
Support was added to rabbitmq-c in alanxz/rabbitmq-c#196, however librabbitmq still treats auth failures as generic socket errors, rather than providing a more specific exception.

eg with librabbitmq 1.6.1, kombu 3.0.35, Python 2.7.12 on Ubuntu 16.04 and using the STR from celery/kombu#611:

[code]

See:
http://www.rabbitmq.com/auth-notification.html

[2016-09-08 14:05] edmorley opened #90 "make install fails with "error: Libtool library used but 'LIBTOOL' is undefined""
I'm trying to build from source on Ubuntu 16.04, since the latest pypi release is 2 years old.

The readme [says](https://github.com/celery/librabbitmq#using-the-development-version) to:
- $ `git clone git://github.com/celery/librabbitmq.git`
- $ `cd librabbitmq`
- $ `make install`

However even after installing libtool (plus a number of other deps not explicitly called out in the README), I still

[2016-09-08 14:08] edmorley commented on #89
Ah so the situation was slightly improved in #49, however:
* a new librabbitmq release hasn't been made since then
* it still requires opting in (I think the capability should be set by default)
* even with the capability set, the exception is something like `_librabbitmq.ConnectionError: Couldn't log in: unexpected method received` (I can't test for sure, due to #90), so needs additional support

[2016-09-17 03:08] amitsaha commented on #90
I don't have a solution to your issue. But, can you try building the manylinux1 wheels (see: https://github.com/celery/librabbitmq/pull/87) and then installing those?

[2016-09-19 11:39] edmorley commented on #90
I don't have docker installed at the moment, I'll give this a go when I do in the future.

[2016-09-26 15:51] auvipy commented on #89
thanks for report and sorry for late response. I will be back to you soon.

[2016-09-28 17:09] multi-io commented on #86
I stumbled upon this problem when "make" wasn't installed -- in that case, the librabbitmq installation fails silently(!). librabbitmq includes the rabbitmq-c sources and builds and installs them (into the pip venv, i.e. usually into something like ../lib/python2.7/site-packages/_librabbitmq.so) during pip install librabbitmq -- if "make" is there, as I said.

[2016-10-14 18:07] jimmywan commented on #86
@multi-io Thanks for the tip. Since I had built librabbitmq from source using the cmake based instructions I did not have make installed. I replaced cmake with gcc and make and now I can get everything running.

Unfortunately, some quick rudimentary testing using ApacheBench seems to indicate that using librabbitmq did not have a meaningful impact on application performance. Close to a dead heat i

[2016-10-25 12:27] JelteF opened #91 "Does librabbitmq support Consumer Cancel Notifications"
According this old email thread consumer cancel notifications are necessary when using multiple broker urls. https://groups.google.com/d/msg/celery-users/i87kIvHn6gg/jwjZK2pHpCkJ

Has librabbitmq gained support for this since the email?

[2016-11-08 17:12] gdbassett opened #92 "librabbitmq errors on IPv6 address"
In __iniit__.py for rabbit mq qt line 191:
`host, port = host.split(':')`
Failes with ipv6 address, (e.g. amqp://user:password@[fe80::1]:4572/)

[2016-12-11 17:51] derek-virtustream commented on #48
It's been a couple years since I issued a patch for this bug.
https://github.com/celery/librabbitmq/pull/59#issuecomment-266296125

[2017-01-11 04:58] auvipy commented on #92
any proposed fix for that?

[2017-01-11 04:59] auvipy commented on #86
I believe this library need a serious overhaul

[2017-01-29 23:32] usrlocalben commented on #71
bump.

fc25.

I installed it similar to the comment above, but it is not necessary to `make install` .

[code]

Running `setup.py install` without having built the binaries with `make` is not enough -- it will terminate with the same error as OP.

[2017-02-11 14:23] gdbassett commented on #92
I found a robust parser here: http://rosettacode.org/wiki/Parse_an_IP_Address#Python that might work.  I wish there was a simple way, but my limited regex expertise isn't gracing me with anything simple method to match ports and hosts in both ipv4 addresses and ipv6 addresses in brackets.

[2017-02-17 13:55] acidjunk opened #93 "librabbitmq 1.6.1 doesn't work with Celery4.0.2"
When trying to use Celery4.0.2 with librabbitmq; celery refuses to accept messages with:

`[2017-02-17 08:51:59,251: WARNING/MainProcess] Received and deleted unknown message.  Wrong destination?!?`

The problem is also describe here: https://github.com/celery/celery/issues/3675

Will there be an update or are we better of by using amqp?

[2017-03-08 16:58] cepradeep commented on #71
I had the same issue when installing `librabbitmq` using `pip`. If having `1.6.1` isn't critical for you, and installing via `pip` is something you simply must retain, then the easiet thing to do is:

[code]

I don't yet know why this works and the newer version doesn't. I'll post here if I find out. Also, I am not an expert; so please take this with a pinch of salt.

[2017-03-24 03:18] MaerF0x0 opened #94 "Guidance on which rabbit lib to use with celery/celery?"
Hi @ask  I am newer to celery and its unclear to me if we should be aiming to use librabbitmq (last tagged release Nov 2014)  vs celery/py-amqp  (Dec 2016 release) . Could you provide direction of which is the better choice?

[2017-03-24 04:11] auvipy commented on #94
hi, use py-amqp :)

[2017-03-24 04:14] #94 closed

[2017-07-05 15:50] rodrigohdez1 commented on #54
Hello guys,

I'm having this issue (although different exception) using librabbitmq 1.6.1
[code]
It seems like #59 was missed in 1.6.1 release as mentioned in #48. :slightly_frowning_face:
I'm having trouble to keep my consumers alive in production systems as I don't have much control on what other applications / script might be sending. For example, empty messages.

Thanks,

[2017-07-28 06:38] thao6626 opened #95 "ConnectionError: Couldn't revive channel"
when the publisher does not publish message for a long time, and then a message comes, the publisher will raise the error: "ConnectionError: Couldn't revive channel"

**when i use the Rabbitmq 3.5.5, the problem above dose not exist. but when i update the rabbitmq to 3.6.10, the problem above exists.**

**and it is stange that when using 3.6.10, the error raised, but the message that raised that e

[2017-07-29 15:26] secult opened #96 "Memory leak on SmartOS"
Hi,
I have an issue with using this library with celery on SmartOS. The memory usage is gradually building up when connection to amqp server is unavailable. The solution for my project was to not use librabbitmq library and use the amqp library.

I tried version downloaded from pypi, the same version built manually, and also the latest librabbitmq version from here. I understand that the forked ra

[2017-08-08 00:19] sfdye commented on #93
+1 for this

[2017-08-11 20:42] cclauss commented on #81
Folks...  Would it be possible to get a new release?  There are already fixes in this repo that should be delivered in a release.  https://github.com/fossasia/query-server/issues/123#issuecomment-321842390

If development is halted, is there an alternative library that you would recommend?

[2017-08-17 20:24] merutak opened #97 "interleaving between channels not supported?"
`PyRabbitMQ_recv` receives a method-frame, then a header-frame, and then body-frames. If inside the body it receives another method-frame, it returns an error ("ConnectionError: Bad frame read").

The thing is, frames might come from different channels. So that 'erroneous' method-frame might actually be a legitimate start in a different channel. This isn't checked or handled in `PyRabbitMQ_recv` -

[2017-09-16 09:42] cclauss opened #100 "python3 -m pip install librabbitmq # raises a SyntaxError"
$ python3 -m pip install librabbitmq  # appears to be fixed in #99
[code]

Workaround: `python3 -m pip install git+https://github.com/celery/librabbitmq`
* However #99 appears to be a safer way to go until there is [release > 1.6.1](https://github.com/celery/librabbitmq/releases) _Nov 2014_.  @auvipy

[2017-10-02 00:14] todofixthis commented on #67
We are performing an audit of all the OSS that we are using at our company.  What should I put in the Licence column next to librabbitmq?

[2017-10-05 21:52] 7h3kk1d opened #101 "Can't Make Install"
Ever since the merging of #99 I can't `make install`:
[code]

Using Ubuntu 14.04. Assuming this is related to the submodule changes.

[2017-10-09 15:22] 7h3kk1d commented on #100
I don't think this is an issue. The current deployed PyPi package doesn't have python3 support. I think once master has been tested it will go through the process to be published. Not sure what that process is though.

[2017-10-09 15:28] cclauss commented on #100
I can close this issue once that release goes public.

[2017-10-09 16:43] cclauss commented on #101
@matusvalo Do you know how to solve this issue?

[2017-10-09 18:30] matusvalo commented on #101
Hi All,

I had a look on the issue and I have found out that I have forgotten to update Makefile :-/. I have created PR #102 fixing this issue. Please take a look and please verify if the PR fixes your problem.

Moreover, I am working also on several other fixes - mainly fixes of unittests. PR is coming soon...

[2017-11-22 18:56] Shraa commented on #100
+ python -m pip install celery[librabbitmq]
...
Collecting librabbitmq>=1.5.0; extra == "librabbitmq" (from celery[auth,librabbitmq,msgpack,redis,yaml])
  Downloading librabbitmq-1.6.1.tar.gz (529kB)
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-rcqi168i/librabbitmq/setup.py",

[2017-11-22 20:45] cclauss commented on #100
[code]

[2017-12-24 17:26] auvipy commented on #81
pyamqp is now recommended

[2018-01-15 10:43] #101 closed

[2018-01-15 10:55] #97 closed

[2018-01-15 11:01] auvipy commented on #100
https://github.com/celery/librabbitmq/releases/tag/v2.0.0 can you try this

[2018-01-15 11:02] #52 closed

[2018-01-15 11:02] auvipy commented on #54
try this https://github.com/celery/librabbitmq/releases/tag/v2.0.0 or py-amqp

[2018-01-15 11:02] #54 closed

[2018-01-15 11:03] #56 closed

[2018-01-15 11:03] #57 closed

[2018-01-15 11:04] auvipy commented on #61
https://github.com/celery/librabbitmq/releases/tag/v2.0.0 this will be soon on pypi

[2018-01-15 11:04] #61 closed

[2018-01-15 11:05] auvipy commented on #67
issue is resolved i guess

[2018-01-15 11:05] #67 closed

[2018-01-15 11:06] auvipy commented on #71
https://github.com/celery/librabbitmq/releases/tag/v2.0.0

[2018-01-15 11:06] #71 closed

[2018-01-15 11:06] auvipy commented on #77
https://github.com/celery/librabbitmq/releases/tag/v2.0.0 check this

[2018-01-15 11:06] #77 closed

[2018-01-15 11:07] auvipy commented on #78
https://github.com/celery/librabbitmq/releases/tag/v2.0.0 try this from github

[2018-01-15 11:07] #78 closed

[2018-01-15 11:07] auvipy commented on #79
try https://github.com/celery/librabbitmq/releases/tag/v2.0.0 or py-amqp

[2018-01-15 11:07] #79 closed

[2018-01-15 11:08] auvipy commented on #81
https://github.com/celery/librabbitmq/releases/tag/v2.0.0 should be soon on pypi with py3 support

[2018-01-15 11:09] auvipy commented on #81
@thedrow can you push this to pypi?

[2018-01-15 11:11] auvipy commented on #93
it's safe to use py-amqp but you could also test https://github.com/celery/librabbitmq/releases/tag/v2.0.0

[2018-01-15 11:11] #93 closed

[2018-01-16 11:02] thedrow commented on #81
We need to update the release notes.

[2018-01-17 15:56] harishanand95 commented on #100
@auvipy @matusvalo Could you show how to install it in python3.6?

[2018-01-19 17:09] matusvalo commented on #100
librabbitmq 2.0 is not published yet in pypi, so currently only way is to install it from source. See https://github.com/celery/librabbitmq#using-the-development-version

[2018-01-19 17:42] matusvalo commented on #100
@auvipy just a note. You have created v2.0.0 tag but this tag cannot be distributed via pypi because setup.py version is used version from header file (see my PR #106 ) not bumped in __init__.py file.

[2018-01-20 09:41] auvipy commented on #100
merged and new tag created.

[2018-01-23 06:39] Neulana opened #110 "compile error on Mac OS X use pip(python 3.6)"
Running setup.py install for librabbitmq ... error
    Complete output from command /usr/local/opt/python3/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/private/tmp/pip-okezcxcl-build/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-l_9g0rqb-record/install-record.txt --

[2018-01-27 12:17] koddr opened #111 "Error via `pip install` command"
Hello.

I've error via `pip install` your library:

[code]

How to solve it? Thanks!

[2018-01-30 03:44] djgilcrease commented on #111
which version of python are you running?

[2018-01-30 05:16] koddr commented on #111
@djgilcrease Python 3.6.4

[2018-01-31 10:58] adampl commented on #111
This is because only version 2 is compatible with Python 3, but it hasn't been added to PyPI yet.

[2018-02-26 12:45] nikodemkler commented on #81
@thedrow is there any progress with updating release notes and as a result pushing v2.0.0 to PyPI?

[2018-02-26 15:36] thedrow commented on #81
Nope, sorry. Too busy right now. We'll welcome an update to the release notes.

[2018-02-26 16:19] vbukhonov commented on #111
#113 I have provided a fix for that issue, please check.

[2018-02-27 08:31] #111 closed

[2018-02-27 15:25] adampl commented on #111
@thedrow When will you make v2 available in PyPI?

[2018-02-27 19:08] thedrow commented on #111
When I'll have free time which is not found in abundance for me these days.

[2018-03-02 14:37] ergo commented on #100
Awesome, any news when new version will get released?

[2018-03-07 16:11] thedrow commented on #100
@ergo I haven't had the time to write the release notes yet.

[2018-03-07 16:11] #100 closed

[2018-03-07 16:11] thedrow commented on #100
I'm closing this issue since the problem is fixed. 2.0.0 will be released as soon as possible.

[2018-03-09 13:11] matusvalo commented on #81
Hi all, I will try to find some time and write down release notes. I hope I will do it by the end of week.

[2018-03-10 16:09] ihor-nahuliak commented on #100
The same issue. I'm waiting for the release with the fix. Does anybody know in which version there is no this issue?

[2018-03-10 16:19] cclauss commented on #100
https://github.com/celery/librabbitmq/issues/100#issuecomment-359029550

[2018-03-22 12:11] #110 closed

[2018-03-23 09:03] dmitry-kostin commented on #90
also have this issue, anybody have the solution to bypass it ?

[2018-04-03 11:19] fgmehlin opened #117 "Issue when using send_task() with message containing german umlauts"
It seems sending a task with german umlauts triggers a :
`UnicodeEncodeError: 'ascii' codec can't encode character '\xe4' in position xx: ordinal not in range(128)`

Working example :
[code]

Failing example :
[code]

triggers :
[code]

Using python3 and
`librabbitmq==2.0.0`
`celery==4.1.0`

[2018-04-03 11:21] auvipy commented on #117
pyamqp is the recommended package try that and see what is the outcome. if using py-amqp helps then raise the issue in librabbitmq repo

[2018-04-03 11:22] auvipy commented on #117
pyamqp is the recommended package. try that to see the issue is gone

[2018-04-03 11:26] fgmehlin commented on #117
pyamqp indeed solved the issue. Thanks for the quick answer! Will raise this in the librabbitmq repo.

Cheers !

[2018-04-05 16:00] danigosa commented on #90
On Alpine Linux Dockerfile:

[code]

[2018-04-30 15:56] mehdipourfar opened #118 "version 2 on pypi"
Version 2 is unavailable at pypi. I cannot use it with python3.

[2018-04-30 16:59] auvipy commented on #118
py-amqp is the recommended tool

[2018-05-01 00:01] somghosh opened #119 "Librabbitmq 2.0.0 with Python 3 gives TypeError: can't pickle memoryview objects"
I am using the latest master branch of the git repo https://github.com/celery/librabbitmq and installing `librabbitmq==2.0.0` for Python 3.6 by following the instructions in the readme

## Using the development version

You can clone the repository by doing the following:

	$ git clone git://github.com/celery/librabbitmq.git

Then install it by doing the following:

	$ cd librabbitmq
	$ make insta

[2018-05-11 02:31] vgoklani commented on #119
Hey - can you please explain this step: "This works fine (after installing certain binaries for c compliation in the OS)"

What did you install and how did you do it? Thanks!

[2018-05-11 02:35] vgoklani opened #120 "How do I build the development version?"
I tried the instructions in the readme:

``
74bee45de169 root@~ $ git clone git://github.com/celery/librabbitmq.git
Cloning into 'librabbitmq'...
remote: Counting objects: 1577, done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 1577 (delta 1), reused 4 (delta 1), pack-reused 1569
Receiving objects: 100% (1577/1577), 1.53 MiB | 0 bytes/s, done.
Resolving deltas: 100% (818/818), don

[2018-05-11 06:08] hhstore commented on #119
## ref:

- use `py-amqp`

- https://github.com/celery/py-amqp

https://github.com/celery/librabbitmq/issues/118

[2018-05-11 10:37] auvipy commented on #119
this library is mostly incomplete and less maintained. py-amqp is the recommended one

[2018-05-15 04:00] vgoklani commented on #119
@auvipy @hhstore I've had LOTS of problems with the py-amqp library. Frankly, I think it's full of bugs.

I've never had problems with this library when using python 2. Unfortunately I'm stuck in python 3.6x and can't get the library to work :(

[2018-05-30 03:47] ezhouyang commented on #100
1、Follow https://github.com/celery/librabbitmq install desc
2、Download source code
3、find & change setup.py code [ except Exception, exc ]  to  [ except Exception as exc ]
4、install will done

[2018-05-30 14:22] thedrow commented on #118
I just tried building a manylinux wheel and it failed to compile.

These are the compilation errors:
[code]

[2018-05-30 14:35] auvipy commented on #118
i would like to deprecate this package

[2018-05-30 14:49] thedrow commented on #88
I just did so for 2.0.

[2018-05-30 14:49] #88 closed

[2018-05-30 14:50] thedrow commented on #81
Released.

[2018-05-30 14:50] #13 closed, assigned to auvipy

[2018-05-30 14:52] thedrow commented on #120
You need automake/autoconf installed.

[2018-05-30 14:52] #120 closed

[2018-05-31 12:31] hrieke commented on #67
This is confusing and needs to be cleaned up.
Can you please update the license properly (and include the updated license information in the headers of the files too?  Even better would be to reference this issue in the readme notes!).  Thank you.

[2018-06-04 15:07] rhyolight commented on #67
Yeah I'd say this issue is still open seeing how there are still two licenses. Which one do we use? @ask said there reason it was gpl was because rabbitmq-c was, but that was changed to MIT. If there are two licenses there should be a statement somewhere about how they should be applied.

[2018-06-21 18:11] jeffersonheard opened #121 "Error building librabbitmq 2.0.0 on high sierra from pip install"
I got the following error on pip install of librabbitmq on high-sierra:

https://gist.github.com/jeffersonheard/237a92723305cb19ae62186e0b34d54b

I don't see anything *obvious*. It looks like some internal-ish macro changes broke the compile of the C portion. Any advice would be appreciated, as I really don't want to fall back to amqplib

[2018-06-28 18:41] VolodymyrOrlov commented on #121
The same here

[2018-07-05 13:07] hightfly01 commented on #121
the same here  !

[2018-07-11 23:35] iROCKBUNNY commented on #121
The same here [hands up]

[2018-07-13 02:30] shanling2004 opened #123 "Failed to install librabbitmq on MacOS High Sierra"
Env:
* MacOS High Sierra 10.13.3
* Python 3.6.5
I encounter the below issue, any idea?

$ pip install librabbitmq==2.0.0

[code]

[2018-07-13 02:31] shanling2004 commented on #121
The same here: my issue: https://github.com/celery/librabbitmq/issues/123

[2018-07-13 12:46] sdreher commented on #121
:raised_hand: same here.

[2018-07-15 10:35] thedrow commented on #121
I don't have access to a MacOS. Please let me know if you can resolve this issue.

[2018-07-20 18:46] cezar62882 commented on #121
the same here

[2018-07-23 01:39] gruszczy commented on #123
Same here.

[2018-07-24 06:31] shanavas786 commented on #119
`task.delay` also causes the same error

[2018-07-27 19:12] rodolfo-picoreti commented on #79
Hi, I am having the same issue using librabbitmq v2.0.0. Published timestamps are being wrongly casted to uint8_t instead of uint64_t and therefore being truncated. It seems its been this way for six years now.

[2018-08-10 15:21] bafitor opened #125 "Memory Leak - Basic Publish"
Hey guys,

I'm seeing a memory leak when using the 2.0.0 version of the library. Each call to **basic_publish** is increasing the memory consumption.

You can check the code below that easily triggers the issue. I'm seeing this behaviour on Ubuntu and OS X.

**Details:**
Python: 3.6.6
RabbitMQ: 3.7.6
Erlang: 20.3.5

**Code:**
[code]

I used the same code with **amqp library** and there wasn't any

[2018-08-13 16:17] auvipy commented on #123
use py-amqp instead

[2018-08-14 12:45] ivermac commented on #123
Getting the same problem when trying to install `librabbitmq` version `2.0.0`. Any help would highly be appreciated.

Env:
    MacOS High Sierra 10.13.6
    Python 3.6.4

[2018-08-18 09:55] creslinux commented on #6
I'm running into this, spent the morning trying various means to install librabbitmq to no luck

Is there an how-to install on OXS?
Im on python 3.6, virtual-env

I've installed:

- brew install autoconf
- brew install automake
- brew install pkg-config

Ive tried:

- git clone https://github.com/celery/librabbitmq.git
- cd librabbitmq
- git submodule init
- git submodule update

pip, pip3, easy_i

[2018-08-18 09:56] creslinux commented on #123
I've hit a brick wall here too:

I'm running into this, spent the morning trying various means to install librabbitmq to no luck

Is there an how-to install on OSX?
Im on python 3.6, virtual-env

I've installed:

brew install autoconf
brew install automake
brew install pkg-config
Ive tried:

git clone https://github.com/celery/librabbitmq.git
cd librabbitmq
git submodule init
git submodule update

[2018-09-04 11:29] spumer commented on #119
Any updates?

[2018-09-14 18:08] auvipy commented on #6
use py-amqp this library is not recommended anymore.

[2018-09-14 18:08] #6 closed

[2018-10-04 15:14] salestial commented on #118
What was the fix please? Because it's still failing to build from file. Specifically this command is failing:

`pip install librabbitmq-2.0.0.tar.gz`

This is the traceback I get:

`
    /tmp/pip-req-build-zk7s2jvx/rabbitmq-c/librabbitmq/amqp_socket.c: In function 'amqp_poll':
    /tmp/pip-req-build-zk7s2jvx/rabbitmq-c/librabbitmq/amqp_socket.c:355:3: error: #error "poll() or select() is needed to

[2018-10-04 19:15] thedrow commented on #118
I honestly don't remember. If you can, use the wheel.

[2018-10-05 09:47] salestial commented on #118
@thedrow thanks!

[2018-10-24 12:23] zhangjiajie023 opened #126 "Error building librabbitmq 2.0.0 on macOS Mojave 10.14"
macOS Mojave 10.14
xcode 10.0
python 3.5.4
the error in config.log is:

This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by rabbitmq-c configure 0.8.0, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ configure --disable-tools --disable-docs --disable-dependency-tracking

## ----

[2018-10-26 02:00] zhangjiajie023 commented on #126
is this a existed bug or cased by my env?

[2018-10-26 15:59] sgargan commented on #123
same deal here, building on OSX High Sierra 10.13.6

[2018-10-30 13:31] dougbyrne commented on #123
Hi, seeing the same. Also on 10.13.6.

It seems to be a problem in the rabbitmq-c configure, or in the case of #121 autoconf isn't available at all. In either case, HAVE_HTONLL doesn't get defined, and that messes stuff up.

I'm going to open a issue on the rabbitmq-c side.

[2018-11-01 07:47] zhangjiajie023 commented on #126
update to 10.14.1 and succeed.

[2018-11-01 07:47] #126 closed

[2018-11-06 13:46] thedrow commented on #121
Please avoid +1ing this issue. It spams my inbox.
Instead try to come up with a fix.

[2018-11-07 09:31] kolapapa commented on #121
sry. I will delete it.

[2018-11-28 23:03] agladboy commented on #126
@zhangjiajie023 I had the same problem as you even on Mac OS 10.14.1, would you please share the details about it. Thanks in advance!

[2018-11-28 23:07] agladboy commented on #126
The output of mine as followings,
------------------------------------------------------------------
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by rabbitmq-c configure 0.8.0, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ configure --disable-tools --disable-docs --disable

[2018-11-28 23:12] agladboy opened #127 "Failed to build on MacOS Mojave 10.14.1"
Build against on macOS Mojave 10.14.1 and failed. the config.log as followings,

The output of mine as followings,
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by rabbitmq-c configure 0.8.0, which was
generated by GNU Autoconf 2.69. Invocation command line was

$ configure --disable-tools --disable-doc

[2018-11-29 12:38] huanghe314 commented on #123
I tried your solution and after `brew install automake`, librabbitmq is installed successfully, same python version and librabbitmq version as yours, but my Mac version is 10.14

[2018-12-13 04:44] swatinair123 commented on #118
@salestial even i am facing the dsame isssues .How to resolve it?

[2019-01-08 03:32] chanpl opened #128 "librabbitmq 2.0.0 doesn't work with BSON?"
My message is encoded in BSON format, but it seems librabbitmq doesn't work with that.

**Error message:**
`  File "python3.6/site-packages/librabbitmq/__init__.py", line 122, in basic_publish
    mandatory or False, immediate or False,
TypeError: argument 2 must be read-only bytes-like object, not memoryview
`

Appreciate if someone can acknowledge this issue.

[2019-01-08 17:14] arossert opened #129 "Can't install on python:3.6.6-alpine container"
When I install librabbitmq on `python:3.6.6-alpine` container with pip it seems that the install successes but the module is not installed:

`/ # pip install librabbitmq
Collecting librabbitmq
  Downloading https://files.pythonhosted.org/packages/f4/4e/8f8bf33d44f3441d6f6c29b299cc847570b2c864bd8d2f9871aa6c03b73e/librabbitmq-2.0.0.tar.gz (42kB)
    100% |████████████████████████████████| 51kB 469kB

[2019-01-09 08:13] guofeng1997 commented on #123
git clone https://github.com/celery/librabbitmq.git
cd librabbitmq
python setup.py install

[2019-01-29 19:57] ebertti opened #130 "Error installing on docker with python:alpine"
Hi.

I'm getting this errors when I try to install librabbitmq on alpine linux

[code]

/app # apk add rabbitmq-c rabbitmq-c-dev
/app # pip install librabbitmq

[code]

[2019-02-05 12:02] auvipy commented on #128
no this isn't supported

[2019-02-05 12:02] #128 closed

[2019-02-13 01:44] chanpl commented on #128
After my investigation, the problem is happened when I republish a message which message body is in memoryview type. This is resolved by converting the message body from memoryview to bytes.

[2019-02-14 15:11] thedrow commented on #130
Please report this upstream. This is not a problem with the python bindings.

[2019-02-14 15:11] #130 closed

[2019-02-14 15:11] thedrow commented on #129
Please report this upstream. This is not a problem with the python bindings.
See #130

[2019-02-14 15:11] #129 closed

[2019-02-19 02:54] bjackson commented on #123
I was able to get it to build by using Xcode Command Line Tools 10.2. Can anyone else confirm that it works for them?

[2019-02-19 14:04] dougbyrne commented on #123
@bjackson That one did it for me. I installed the beta tools and the library built OK.

[2019-02-20 15:39] wjzhao commented on #123
I have the same problem, so, how do you resolve it ?

[2019-02-21 10:25] m-aciek commented on #130
Still reproducible with pip 19.0.3.

[2019-02-21 11:33] thedrow commented on #130
This has nothing to do with pip but with musl.
rabbitmq-c should be asked to support alpine.

[2019-02-24 06:22] jayvdb commented on #9
@agriffis, did Debian get tests to pass with that?

I tried the same thing with the recent source, and linking against 0.9.0, and found that `amqp_simple_wait_frame_on_channel` was missing from the shared lib.  This could be a new problem.

[2019-02-24 16:44] agriffis commented on #9
@jayvdb Sorry, three years ago might as well be an eternity for how much I remember about this.

[2019-02-25 10:32] m-aciek commented on #130
Perhaps it is this issue: https://github.com/alanxz/rabbitmq-c/issues/541.

[2019-02-25 18:05] thedrow commented on #130
Looks similar.

[2019-02-25 18:22] StijnCazou commented on #123
@bjackson How do you mean? You used de Command tools?

[2019-02-25 18:44] bjackson commented on #123
@StijnCazou and @wjzhao, you will need to upgrade your Xcode Command Line Tools to 10.2. The upgraded command line tools might include a fix that allows librabbitmq-c to build.

You can download Xcode Command Line Tools 10.2 here: https://developer.apple.com/download/more/

[2019-02-25 19:16] StijnCazou commented on #123
For that macOs 14 is required so I need to install that one first...

[2019-03-08 07:17] wjzhao commented on #123
@bjackson Thank you, I have resolve the problem by your way~~

[2019-03-08 08:48] quantoid commented on #123
I switched to Redis in the end. :(

[2019-03-08 08:52] StijnLemon commented on #123
@bjackson Doesn't work for me...

[2019-03-08 17:08] dooferlad commented on #118
To compile the C library you need cmake, libtool and autoconf. I think that is all the packages. If you can clone https://github.com/alanxz/rabbitmq-c and build it then this will compile correctly.

[2019-04-01 14:41] lmcl90 commented on #123
My env is:
[code]
I solved this problem by:
[code]

@creslinux @huanghe314

[2019-04-01 17:24] khpeek opened #131 ""pip install librabbitmq" failed with error code 1"
Upon creating a virtual environment in Python 3.7.1 and trying `pip install librabbitmq`, I get the following error message:

[code]

Here is the verification of the Python version:

[code]

Any idea what is causing this?

[2019-04-01 17:30] thedrow commented on #131
Is this a duplicate of #127?

[2019-04-09 13:09] davidszotten opened #132 "UnicodeEncodeError with non-ascii headers"
Hi.

I'm trying to upgrade to celery 4 which, in particular includes reprs of args and kwargs in headers. however, it seems librabbitmq fails to handle non-ascii headers

[code]

am i doing something wrong? (We rely on this library for the performance compared to the pure python version)

best, and thanks!

[2019-04-14 09:43] #132 closed

[2019-04-19 15:32] bsolomon1124 commented on #131
Confirming this still occurs on Mac OSX High Sierra 10.13.6, Python 3.7.2.

This is a nonstarter for using RabbitMQ as Celery message broker.  This build has been broken for 3 weeks now, what's the status?

[2019-04-21 09:51] thedrow commented on #131
We're replacing this library with a custom implementation in Celery 5.
I suggest that you use py-amqp on MacOS for now.

[2019-04-21 09:51] #131 closed

[2019-06-11 20:41] sempervirescent commented on #131
Why has this been closed? It does not seem to be a duplicate of 127.
This is happening for me as well in macOS Mojave with Python 2.7.

[2019-06-12 09:34] thedrow commented on #131
Why is it not a duplicate of #127?

The code fails to build on OSX.

I can reopen this but I'm not going to invest any time in fixing it as we are replacing this library.
Pull requests are of course welcome.

[2019-06-12 09:35] thedrow commented on #84
Since we're replacing this library it does not really matter.

[2019-06-12 09:35] #84 closed

[2019-07-11 22:31] Kronuz commented on #123
You also need libtool to build under macOS:

[code]

[2019-08-05 04:59] tuaris opened #135 "Use system rabbitmq-c"
Instead of re-building the included `rabbitmq-c`, how can I tell it to use the already built/existing `rabbitmq-c` that is present on the system?

[2019-08-05 12:26] thedrow commented on #135
You'll have to contribute a patch that allows you to do so.
It's currently not supported.

Alternatively we could build manylinux wheels.

[2019-08-05 15:19] bedrockjohan commented on #123
`brew install libtool` like @Kronuz said is what fixed it for me!

[2019-11-25 22:14] marco-c opened #136 "undefined symbol: basic_properties_to_PyDict"
[code]

This sounds similar to #5.

[2019-12-04 16:39] mushishi06 commented on #131
AS For me After multiple test and try / update to latest version (even dev, rabbitmq-c), it appear to not been compatible with Python > 3.6.
tested with Python 3.7.3, 3.8.0 => Failed
tested with Python 3.6.9 => success

if it can help peoples to not lose 3h on it (:

[2019-12-04 16:49] mushishi06 opened #137 "Support version Python >= 3.7"
Fallowing multiple test / try and update to latest version (even dev Branch, `rabbitmq-c`),
it appears to me to **NOT** be compatible with Python version superior to 3.6

- tested with Python `**3.7.3**`, `**3.8.0**` => Failed

- tested with Python `**3.6.9**` => success

Did you schedule the support for the new version of Python?

Thank you in advance.

[2019-12-09 18:56] thedrow commented on #137
This library is deprecated.
PRs are welcome but we're not going to invest more time in it.

[2019-12-11 10:24] mushishi06 commented on #137
Thanks for the update.
Waiting for the new version of celery :+1:

[2020-01-03 18:50] iAnanich commented on #22
2020 already, still an open issue?
make is installed, but have gcc related error

[2020-01-22 21:29] c-nichols commented on #137
I'm having trouble finding info about this deprecation, recommended replacement, etc.  @thedrow can you provide more details or point me toward some docs?

[2020-01-30 12:20] thedrow commented on #137
Unfortunately we didn't officially deprecate it but we don't have the time to support it.
py-amqp is our AMQP client that we do have time to maintain.

Again, PRs are welcome. We simply don't have the bandwidth to maintain this library.

[2020-02-01 17:44] c-nichols commented on #137
OK thanks

@mushishi06 could you describe what sort of issues you ran into?  The tests pass on 3.7 so I'm not sure where to begin

[2020-02-03 20:39] nbuonin opened #139 "lang"

[2020-02-03 20:39] #139 closed

[2020-02-10 16:31] lelithium opened #140 "Missing exchange_bind implementation"
`librabbitmq` does not implement `exchange_bind` for the Channel object. This is especially visible when using Kombu.

Versions:
- `librabbitmq==2.0.0`
- `kombu==4.6.7`

Bug:
[code]

Using `pyamqp` to demonstrate the expected behaviour:

[code]

[2020-02-16 06:09] tirkarthi opened #141 "Deprecation warning due to invalid escape sequences in Python 3.7"
Deprecation warning are raised due to invalid escape sequences. This can be fixed by using raw string or escaping them.

[code]

[2020-02-16 13:19] thedrow commented on #140
PRs welcome.

[2020-02-26 17:00] #141 closed

[2020-03-01 06:21] tirkarthi opened #143 ""U" mode is no longer accepted from Python 3.9"
[code]

https://github.com/python/cpython/pull/16959

[2020-03-05 12:29] gladsonvm commented on #118
This fixed my issue

[2020-03-16 08:08] #143 closed

[2020-03-26 13:50] henryykt opened #146 "manylinux1 fails"
Running `sh manylinux1` in the master branch fails:

	+ for PYBIN in '/opt/python/*/bin'
	+ /opt/python/cp27-cp27m/bin/pip wheel /workspace/ -w wheelhouse/
	DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
	Processing /workspace
		ERROR

[2020-03-26 13:55] henryykt commented on #146
#147

[2020-03-27 13:26] #146 closed

[2020-03-28 12:52] #27 closed

[2020-04-26 16:59] mrudang-vora commented on #22
Hello All,
Was trying to install librabbitmq using following steps:
wget https://files.pythonhosted.org/packages/f4/4e/8f8bf33d44f3441d6f6c29b299cc847570b2c864bd8d2f9871aa6c03b73e/librabbitmq-2.0.0.tar.gz
tar xvfz librabbitmq-2.0.0.tar.gz
cd librabbitmq-2.0.0
python setup.py build

Had similar issue while building the setup.py file

`python setup.py build
running build
running build_py
running bui

[2020-05-03 09:40] #136 closed

[2020-05-03 09:41] #137 closed

[2020-05-13 06:18] potiuk opened #153 "Librabbitmq fails to install in python 3.7 on debian buster when make is in path"
When make can be found in the path, librabbitmq fails to install in python3.7 variant on debian buster. It tries to recompile librabbitmq-c and fails. When make is not found in path, it installs correctly from wheels.

Environment:

Docker image python:3.7-slim-buster

This works fine:

[code]

This doesn't:

[code]

I found that I can still correctly install librabbitmq by renaming `/usr/bin/make

[2020-05-13 07:05] mik-laj commented on #153
@auvipy Can you help with it? This is related to Apache Airflow.

[2020-05-13 07:25] auvipy commented on #153
first of all, we do not recommend this package and instead focused on improving py-amqp with cython optimisation :)

[2020-05-13 07:28] auvipy commented on #153
I want to know what advantage this package is providing apache airflow over py-amqp?

[2020-05-13 07:39] mik-laj commented on #153
I suspect that there is no advantage except that we currently have this library added to the dependency and all tests for Celera use it.  What does the migration from this library to py-amqp look like for Celery?

[2020-05-13 07:48] mik-laj commented on #153
I think I found a solution. Is it enough that we will not install this library and Celery will use an alternative fully compatible?
https://github.com/celery/kombu/blob/81101877a09e8f4442555c6c74b4836f113e4f51/kombu/connection.py#L250-L252

[2020-05-13 07:53] auvipy commented on #153
actually py-amqp has been the main supported library for last two years. our all focus is on py-amqp. imho py-amqp is more feature rich. i would suggest drop librabbitmq as dependency and focus your effort to py-amqp along with the celery core team :) you can also check the recently merge cython improvements on py-amqp package :)

[2020-05-13 07:56] potiuk commented on #153
just a quick one - Is this a dop-in replacement for librabbitmq ? Or should we re-write our rabbitmq integration to use a new API

[2020-05-13 07:58] auvipy commented on #153
this is a drop in replacement. I would try py-amqp docs first

[2020-05-13 07:59] potiuk commented on #153
FYI - I m asking because we have like 200 integrations in Airflow some of them written by someone 2 years ago, so we do not know all the ins-outs of all the integrations :). But will take a look at the libs

[2020-05-13 08:06] auvipy commented on #153
first of all, just try py-amqp and see how many tests are passing. you can also mention me on the PR. or share the tests with me. not much should be different. we can identify which API/tests need adjustment

[2020-05-13 08:16] potiuk commented on #153
Thanks @auvipy for your offer to help!  All good. I replaced `librabbitmq` exlicitly with `amqp`, rebuilt the image and run our integration tests with rabbitmq . All passing :).

[code]

[2020-05-13 08:16] #153 closed

[2020-05-13 09:01] auvipy commented on #153
hell yeah!

[2020-06-29 08:09] matt-caz opened #154 "Installation via pip behind a firewall"
I realise this is something of a long shot, but my team have been experiencing issues trying to install librabbitmq behind a corporate firewall, specifically the machine in question is unable to reach GitHub, so we can't clone rabbitmq-c.

[code]

Right now as far as I can see our options are to either get a firewall exception or to manually clone, copy and build the project locally.

Essentially

[2020-07-18 04:40] RAJKRIS opened #155 "Intallation fails for python 3.7/3.8: compilation terminated. error: command 'x86_64-linux-gnu-gcc' failed with exit status 1 ----------------------------------------"
Tried to install librabbitmq with python3.7/3.8.
`pip install librabbitmq`
Getting the below traceback:

ERROR: Command errored out with exit status 1:
     command: /home/rajkris/virtuals/demo/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-f529prvp/librabbitmq/setup.py'"'"'; __file__='"'"'/tmp/pip-install-f529prvp/librabbitmq/setup.py'"'"';f=getattr(tokeni

[2020-07-19 14:44] thedrow commented on #155
It sounds like something is wrong with your environment.
Can you try to reproduce this in Docker for example?

[2020-07-20 08:52] sebastienvercammen commented on #123
It's 2020, and I had a similar issue as described above. Only the full commands that @Kronuz shared fixed it.
[code]

[2020-07-21 14:08] aberrier commented on #131
If you are on Ubuntu you can try to install these packages
[code]

[2020-08-20 18:50] nvwlspls commented on #155
This is what solved this problem for me:
(Ubuntu 18.04)
`sudo apt-get install python3.8-dev`

[2020-08-21 03:11] auvipy commented on #155
avoid using this package. py-amqp is way more stable & speedier with cythonized code

[2020-08-29 09:53] mohammadalimehdizadeh commented on #131
@aberrier solution for me, thanks.

[2020-08-31 09:16] huntzhan commented on #123
It's 2020/08/31, and for some unknown reason Apple pushed the `#Xcode12 Beta 5 (build 12A8189h, requires macOS 10.15.4+)` to my MacBook and afterward `Clang 12.0.0 (1200.0.31.1)` was installed then causing compiling error in `pip install librabbitmq`.

Need to rollback to `Command Line Tools for Xcode 11.5` ([download here](https://developer.apple.com/download/more/)) to resolve this issue.

[2020-08-31 19:29] zeraien commented on #131
Thank you thank you thank you!

[2020-09-01 10:43] thedrow commented on #155
That's probably the issue.

[2020-09-01 10:43] #155 closed

[2020-11-10 09:16] manuelep commented on #131
solved for me too

[2020-11-27 11:11] OnkelTem commented on #131
Same, it has solved for me it as well on Linux Ubuntu 20.04.
Btw, the fact that it's successfully passing the `configure` probably means that it's malwritten. Otherwise WHY it didn't ask us to install those deps?

[2020-12-06 16:49] #80 closed

[2020-12-20 12:51] ulgens commented on #123
2020/12/20

Recommended brew packages doesn't solve the issue and Mac OS doesn't allow to downgrade xcode version by saying "Your Mac OS version is too new for this version.".

[2020-12-21 06:30] auvipy commented on #123
please use py-amqp as this library is not recommended anymore. py-amqp also has some cython bindings

[2020-12-22 05:57] ulgens commented on #123
@auvipy Not recommended by who?

[2020-12-22 06:15] auvipy commented on #123
by @celery/core-developers

[2020-12-22 06:18] ulgens commented on #123
Give a source man :slightly_smiling_face:

[2020-12-22 06:20] ulgens commented on #123
@auvipy Thanks a lot. Is this mentioned in celery docs, how can i get detailed info on this?

[2020-12-24 12:37] thedrow commented on #123
No it is not. But we don't maintain it ourselves.
We only accept patches for it.

[2021-01-08 14:27] andir commented on #82
Was there ever a solution for this? I just ran into the same issue when installing `librabbitmq` via pip.

[2021-03-13 02:45] fjrd12 opened #157 "Error at install librabbitmq Big Sur 11.2.2"
Env:

MacOS BigSur 11.2.2
Python 3.7.5
I encounter the below issue, any idea?
$ pip install librabbitmq

[error.txt](https://github.com/celery/librabbitmq/files/6134018/error.txt)

[2021-03-16 08:02] sigaev-pro commented on #123
Same issue on Big Sur.

`brew install autoconf automake pkg-config libtool`

does not solve the problem.

[2021-03-17 10:42] thedrow commented on #157
See #127, #121.
Do any of the workarounds work for you?

[2021-03-28 13:30] jspaans91 commented on #123
Same here on Big Sur

[2021-04-04 05:14] chanhosuh commented on #153
I wish the docs would say this.  Currently the Celery/Kombu docs state:

This does not imply to me in any way that `py-amqp` is also high-performance (I think that multiple sources state it is native Python suggests even the opposite) nor that I can literally just switch my requirements file from `librabbitmq` to `amqp` and everything would work... and in fact, it did!  I only tried this after sev

[2021-04-04 07:37] thedrow commented on #153
Feel free to contribute any documentation improvements you think are necessary.

[2021-04-21 02:01] tombroi commented on #157
No, the above workarounds doesn't help. Fails on MacOS BigSur 11.2.3 too

[2021-04-21 03:23] tombroi commented on #123
Any help on this issue? `brew install autoconf automake pkg-config libtool` these installations dont work.

[2021-04-21 04:39] tombroi commented on #123
could you solve this issue @ulgens

[2021-04-29 10:18] adbharti commented on #136
what is the fix for above?

[2021-04-29 11:48] thedrow commented on #136
#150.

[2021-06-04 22:44] jimmywan commented on #86
Haven't really cared about this in quite some time. Closing.

[2021-06-04 22:44] #86 closed

[2021-06-12 14:56] vschoener commented on #123
This does not work for me :(

[2021-06-20 00:49] aichao commented on #157
Looking at the OP's `error.txt`, it appears that there are two compilation errors (same error, two places):

[code]

which suggests that `amqp_simple_wait_frame_on_channel` is not declared in `.../Modules/_librabbitmq/connection.c`. A quick grep of the source tree reveals that `amqp_simple_wait_frame_on_channel` is declared in `.../rabbitmq-c/librabbitmq/amqp_socket.h`. However, simply including `

[2021-07-08 11:47] SnoozeFreddo opened #158 "Can not import _librabbitmq"
[code]

Google gives me some weird results for my problem :F

[2021-07-13 06:25] thedrow commented on #158
There's not enough information to debug this issue.
Did the package compile successfully?

[2021-07-14 05:43] hvarday-cisco commented on #123
Hi Folks!

I am facing the same issue. My GCC version is -
[code]

I have verified and the "--with-gxx-include-dir" path does not exist

[2021-08-25 09:32] nicolaerosia opened #159 "Python 3.9 wheels"
Can you please push a wheel for python 3.9?

[2021-08-25 10:01] auvipy commented on #159
use py-amqp please

[2021-08-25 10:17] nicolaerosia commented on #159
I'm using celery with rabbitmq backend, you're saying I don't need to install librabbitmq?

[2021-09-20 18:41] ColCh commented on #118
How to install that: `sudo apt-get install cmake libtool autoconf`

REF: https://github.com/alanxz/rabbitmq-c/issues/541#issuecomment-785943404

[2021-09-21 11:56] nicolaerosia commented on #159
Thanks, I'm using now pyamqp

[2021-09-21 11:56] #159 closed

[2022-01-12 12:20] Chandan-Baba commented on #157
this issue is also surfacing on mac os Monterey. so, any help?

[2022-01-24 15:44] mr-bjerre commented on #123
was this never resolved?

[2022-01-28 12:14] odidev opened #163 "Add support to release linux aarch64 wheels"
Problem
---------
On aarch64, ‘pip install librabbitmq’ builds the wheels from source code but it is giving below error -
[code]

Resolution
-----------
On aarch64, ‘pip install librabbitmq’ should download the wheels from pypi

Team Please let me know your interest in releasing aarch64 wheels. I can help in this.

[2022-03-03 13:57] #163 closed

[2022-04-20 23:38] mostafabarmshory commented on #118
Dear @ColCh , tx bro, this resolves my problem.

[2022-06-22 13:25] atknin commented on #131
Works